body {
  margin: 0;
  font-family: 'Montserrat', verdana, sans-serif;
}
p {
  font-size: 1.5em;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  font-weight: bold;
  font-size: 1.75em;
  margin-left: 0.5em;
  margin-right: 1.8em;
}
button {
  cursor: pointer;
}
nav button {
  position: absolute;
  right: 1em;
  top: 0.8em;
  padding: 8px;
  border-radius: 5px;
  font-size: 1em;
  background: transparent;
  display: none;
}
nav ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
nav li {
  text-align: center;
  font-size: 1.5em;
}

nav a {
  display: block;
}

.js ul {
  display: none;
}

.js nav button {
  display: block;
}

ul.is-active {
  display: block;
}
section {
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  margin: 10px;
}

@media (min-width: 390px) {
  header {
    text-align: center;
  }
}

@media (max-width: 599px) {
  nav li {
    padding: 10px;
  }

  nav li:hover,
  nav li:focus {
    background-color: #f9f9f9;
  }
}

@media (min-width: 600px) {
  h1 {
    margin-bottom: 0;
  }
  .js ul {
    display: block;
  }
  .js nav button {
    display: none;
  }

  nav {
    padding-left: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }
  nav ul {
    margin-bottom: 1em;
  }
  nav li {
    display: inline-block;
    margin-right: 1em;
  }
  nav li:hover,
  nav li:focus {
    text-decoration: underline;
  }
  .article {
    max-width: 700px;
  }
}
