---
layout: default
title: Elizabeth Abramson | About
---

<style type="text/css" media="screen">
  .about-img {
    background: url('/assets/andrew-avdeev-hands.jpg') center center no-repeat;
    background-size: cover;
    height: 67vh;
  }
</style>

<div class="about-img"></div>

<section class="article">
  <h2>About</h2>
  <p>
    I've done the research, so you don't have to. I've been a reference
    librarian and dating consultant for 15 years. What started as a hobby to
    help people find love has grown into the absolutely perfect business for me.
    My clients are AMAZING, intelligent, fun, and compassionate people! All they
    need is a road map to help them find the man of their dreams. I walk you
    through the dating process, giving you researched and proven advice that
    actually works. I find singles events in your neighborhood, and hold you
    accountable for getting out there. If you want to online date, I can take
    care of your profile and the back and forth messages to men, setting up
    dates that fit in your calendar. Invoice at the end of the month, and we can
    change if one of us is on vacation. I'm constantly on phone texts or
    Linkedin messages to gently guide you and answer all questions . One phone
    call per week, if you need it. Watching other people find love and enter
    healthy lasting relationships through my coaching is an absolute honor. So
    take control of your future, and reach out.
  </p>
</section>
