---
layout: default
title: Elizabeth Abramson | Contact
---

<style type="text/css" media="screen">
  .container {
    margin: 50px auto;
    max-width: 600px;
    text-align: center;
  }
  h2 {
    margin-bottom: 0;
  }
  fieldset {
    border: none;
  }
  fieldset div {
    margin: 10px auto;
  }
  label {
    font-size: 1.5em;
    display: block;
  }
  input,
  textarea,
  button {
    font-size: 1.5em;
  }
  textarea {
    min-height: 200px;
    max-width: 500px;
  }
  button {
    padding: 5px 8px;
  }
</style>

<div class="container">
  <h2>Contact</h2>
  <form>
    <fieldset>
      <div>
        <div class="name-err"></div>
        <label for="name">Name:</label>
        <input type="text" id="name" required />
      </div>
      <div>
        <div class="email-err"></div>
        <label for="email">Email:</label>
        <input type="email" id="email" required />
      </div>
      <div>
        <div class="message-err"></div>
        <label for="message">Message:</label>
        <textarea id="message"></textarea>
      </div>
      <button>Submit</button>
    </fieldset>
  </form>
</div>
