---
layout: default
title: Elizabeth Abramson
---

<style type="text/css" media="screen">
  .index-img,
  .index-img-1,
  .index-img-2,
  .index-img-3 {
    background-position: center center;
    background-repeat: no-repeat;
    height: 67vh;
    background-size: cover;
  }

  .index-img {
    background-image: url('/assets/alvin-mahmudov-smiling.jpg');
  }

  .index-img-1 {
    background-image: url('/assets/priscilla-du-preez-spark.jpg');
  }

  .index-img-2 {
    background-image: url('/assets/crew-holdinghands.jpg');
  }

  .index-img-3 {
    background-image: url('/assets/manuel-meurisse-fire.jpg');
  }
</style>

<div class="index-img"></div>

<section class="article">
  <p>Are you still single?</p>

  <p>Hate the dating apps?</p>

  <p>Feel you don't have time to date?</p>

  <p>Tired of meeting low quality men?</p>

  <p>
    If you want better results from your dating experiences, I can help. With 15
    years experience of both a research librarian and a dating coach, I will get
    you into a wonderful relationship, leading to marriage (if that’s your
    goal). If you have a busy schedule, I will show you how it can be an asset
    when it comes to dating.
  </p>

  <p>I’m passionate about finding you love that works.</p>
</section>

<div class="index-img-1"></div>

<section class="article">
  <h2>Testimonials</h2>
  <p>
    Elizabeth has been a breath of fresh air! She volunteered her services to
    talk me through a very trying period of my 4-year relationship. I loved her
    outlook and approach, which was a mix of grit, general badassery, and a
    sprinkling of don't-forget-you're-awesome mixed in. She didn't try to steer
    me in the direction of "just dump him and move on with your life" as some
    without full context of the relationship are inclined to do. Instead, she
    struck the fine balance of being supportive, but also building confidence in
    me that, should I choose to leave the relationship, I would land on my own
    two feet and emerge better and stronger. This approach of providing delicate
    guidance but not deciding on behalf of the client mirrors that of a trained
    therapist, which I appreciated greatly.
  </p>
  <p>
    Elizabeth Abramson breaks down the complicated process of dating and makes
    it more tangible to feel that you will eventually see results. A good
    listener, her advice is sound and has made me more conscious of my dating
    style. I’m positive I can break old habits and work towards my happily ever
    after. I recommended her to a friend, and now my girlfriend has hope for her
    own love life.
  </p>
</section>

<div class="index-img-2"></div>

<section class="article">
  <h2>Services</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptates
    eos esse qui assumenda fuga repellendus repudiandae adipisci. Tenetur
    similique esse non earum perspiciatis commodi eius! Earum tenetur mollitia
    fuga!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptates
    eos esse qui assumenda fuga repellendus repudiandae adipisci. Tenetur
    similique esse non earum perspiciatis commodi eius! Earum tenetur mollitia
    fuga!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptates
    eos esse qui assumenda fuga repellendus repudiandae adipisci. Tenetur
    similique esse non earum perspiciatis commodi eius! Earum tenetur mollitia
    fuga!
  </p>
</section>

<div class="index-img-3"></div>

<section class="article">
  <h2>Contact</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda numquam
    dolores officia consequatur a iure in quasi excepturi quidem et, sint ipsum
    velit corrupti voluptate laudantium facilis totam, eligendi cum.
  </p>
</section>
