---
layout: default
title: Elizabeth Abramson | Resources
---

<style type="text/css" media="screen">
  .post-preview {
    max-width: 700px;
    margin: 5px auto;
    padding: 15px;
  }
  .post-preview-image {
    width: 100%;
  }

  .post-title {
    margin-bottom: 0;
  }
</style>


{% for post in site.posts %}
<div class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <img
      class="post-preview-image"
      src="{{ post.image }}"
      alt="{{ post.alt }}"
    />
    <h2 class="post-title">
      {{ post.title }}
    </h2>
    <p>
      {{ post.date | date: "%B %-d, %Y" }} {{ post.content | strip_html |
      truncate: 300 }}
    </p>
  </a>
</div>
{% endfor %}
