<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300|Parisienne&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>
        <a href="/">Elizabeth Abramson</a>
      </h1>
      <nav>
        <button aria-expanded="false">
          <i class="fa fa-bars"></i>
        </button>
        <ul>
          <li>
            <a href="/about.html">About</a>
          </li>
          <li>
            <a href="/resources.html">Resources</a>
          </li>
          <li>
            <a href="/contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      &copy; 2020 Elizabeth Abramson
    </footer>
  </body>
  <script>
    document.body.classList.add("js");
    let toggle = document.querySelector("nav button");
    let menu = document.querySelector("nav ul");

    toggle.addEventListener("click", function() {
      if (menu.classList.contains("is-active")) {
        this.setAttribute("aria-expanded", "false");
        menu.classList.remove("is-active");
      } else {
        menu.classList.add("is-active");
        this.setAttribute("aria-expanded", "true");
      }
    });
  </script>
  <!-- site created by rosaxny -->
</html>
