---
layout: default
---

<style type="text/css" media="screen">
  .post-img {
    background: url('{{ page.image }}') center center no-repeat;
    height: 67vh;
    background-size: cover;
  }
  .post {
    max-width: 700px;
  }
</style>

<div class="post-img"></div>
<section class="post">
  <h2>{{ page.title }}</h2>
  {{ content }}
  <p>
    Posted by {{ page.author }} on {{ page.date | date: "%B %-d, %Y" }}
  </p>
</section>
